body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #toDoListPage {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  h1 {
    color: #333;
  }

  p {
    font-size: 12px;
    color: #858484;
    justify-content: normal;
    
  }
  
  #taskListContainer {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
  }
  
  #taskList {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 200px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  #taskList li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #taskInputContainer {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  #taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
    background-color: #f5f5f5;
    color: #333; 
  }
  
  #taskInput:focus {
    outline: none;
  }
  
  #taskInput::placeholder {
    color: #999;
  }

  #addTaskButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0; 
    background-color: #3498db; 
    color: white;
  }
  
  #addTaskButton:focus {
    outline: none;
  }
  
  button.removeButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff5c5c;
    color: white;
  }
  
  button.removeButton:focus {
    outline: none;
  }
  
  button.removeButton:hover {
    background-color: #d32f2f;
  }

  .colorfulButtons {
    display: flex;
    justify-content: normal;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .colorfulButtons button {
    padding: 5px 7px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 5px;
  }
  
  .colorfulButtons button.red {
    background-color: #ff7675; /* Light red */
    color: white;
  }
  
  .colorfulButtons button.blue {
    background-color: #74b9ff; /* Light blue */
    color: white;
  }
  
  .colorfulButtons button.green {
    background-color: #7bed9f; /* Light green */
    color: white;
  }
  
  .colorfulButtons button.orange {
    background-color: #ffaf40; /* Light orange */
    color: white;
  }

  .colorfulButtons button.default {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(175, 173, 173);
  }

  button:focus {
    outline: none;
  }

  #copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #555;
  }
